.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 150px; /* Un valor aproximado a la altura de tu footer */
}


.home-background {
  /* ESTILOS POR DEFECTO (Móvil) */
  background-image: url('/images/DarkSky.jpeg'); /* ¡La vertical! */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0c0d13;
  transition: background-image 0.3s ease-in-out; /* Animación sutil al cambiar */
}

/* MEDIA QUERY: Para pantallas más anchas que 768px */
@media (min-width: 900px) {
  .home-background {
    /* ESTILOS PARA ESCRITORIO */
    background-image: url('/images/DarkSky2.jpeg'); /* ¡La panorámica! */
  }
}