.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex-grow: 1;
}

.home-background-image {
  position: fixed; /* Lo fijamos a la pantalla */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Lo mandamos detrás de todo */
  
  /* Usamos la imagen correcta según el tamaño de la pantalla */
  background-image: url('/images/DarkSky.jpeg'); /* Default (móvil) */
  background-size: cover;
  background-repeat: no-repeat;
  /* ¡LA CLAVE! La posición en Y es al 75% desde arriba (enfoca la forja) */
  background-position: 55%;
  
  /* Suaviza la transición */
  transition: all 0.3s ease;
}

@media (min-width: 1000px){
  .home-background-image {
    background-image: url('/images/DarkSky2.jpeg');
    /* ¡LA CLAVE! En escritorio, queremos más zoom, movemos el foco más arriba */
    background-size: 100%; /* Prueba 120%, 150%, 180%... */
    background-position: center; /* Y reajustamos la posición vertical */
  }
}
@media (min-height: 1000px){
  .home-background-image {
    background-image: url('/images/DarkSky.jpeg');
    /* ¡LA CLAVE! En escritorio, queremos más zoom, movemos el foco más arriba */
    background-size: 150%; /* Prueba 120%, 150%, 180%... */
    background-position: center; /* Y reajustamos la posición vertical */
  }
}



